<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <!-- Modified to use local LayUI CSS file -->
    <link href="static/css/layui.css" rel="stylesheet" />
  </head>
  <body>
    <div class="layui-container">
      <div class="layui-row">
        <div
          class="layui-col-md4 layui-col-md-offset4"
          style="margin-top: 100px"
        >
          <form class="layui-form">
            <div class="layui-form-item">
              <label class="layui-form-label">Username</label>
              <div class="layui-input-block">
                <input
                  type="text"
                  name="username"
                  required
                  lay-verify="required"
                  placeholder="Enter username"
                  autocomplete="off"
                  class="layui-input"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">Password</label>
              <div class="layui-input-block">
                <input
                  type="password"
                  name="password"
                  required
                  lay-verify="required"
                  placeholder="Enter password"
                  autocomplete="off"
                  class="layui-input"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="login">
                  Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-container" style="margin-top: 20px">
      <table class="layui-table">
        <colgroup>
          <col width="150" />
          <col width="150" />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th>Test Account</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>admin</td>
            <td>admin</td>
          </tr>
          <tr>
            <td>user</td>
            <td>user</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script src="static/layui.js"></script>
  <script>
    layui.use("form", function () {
      var form = layui.form;
      form.on("submit(login)", function (data) {
        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data.field),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message === "Login successful") {
              window.location.href = "/manage";
            } else {
              alert(data.message);
            }
          });
        return false;
      });
    });
  </script>
</html>
